{% extends 'base.html' %}
{% block content %}
{% for boy in paperboys %}
  <h2 class='paperboy-header'>{{ boy.name }}</h2>
  <p>{{ boy.report }}</p>
  <form class="" action="{% url 'deliver' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="boy_id" value="{{ boy.pk }}">
    <label for="start-address">
      <p class="address-text">Starting house number</p>
      <input type="number" id="start-address" name="start-address" value="">
    </label>
    <label for="end-address">
      <p class="address-text">Final house number</p>
      <input type="number" id="end-address" name="end-address" value="">
    </label>
    <button type="submit" name="button">Deliver!</button>
  </form>
{% endfor %}
{% endblock %}
