{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paperboys!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <h1 class='paperboy-main-header'>Paperboys</h1>
    </header>
    <p>Total papers delivered: <span class='delivered-total'>{{ total_delivered }}</span></p>
    <p>Total payment earned: <span class='earnings-total'>${{ total_earned }}</span></p>
    {% for boy in paperboys %}
    <h2 class='paperboy-header'>{{ boy.name }}</h2>
    <p>{{ boy.report }}</p>
    <form class="" action="{% url 'deliver' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="boy_id" value="{{ boy.pk }}">
      <label for="start-address">
        <p class="address-text">Starting house number</p>
        <input type="number" id="start-address" name="start-address" value="">
      </label>
      <label for="end-address">
        <p class="address-text">Final house number</p>
        <input type="number" id="end-address" name="end-address" value="">
      </label>
      <button type="submit" name="button">Deliver!</button>
    </form>
    {% endfor %}
  </body>
</html>
